.bg{
    -fx-background-color:transparent; /* Lower opacity */
}
.bgr {
    -fx-background-color: white; /* Lower opacity */
    -fx-border-radius: 0 0 25px 25px;
    -fx-background-radius: 0 0 25px 25px;
}
.mid-menu2{
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
}
.quiz-item {
    -fx-pref-width: 238px; /* Set width of each item */
    -fx-pref-height: 150px; /* Set height of each item */
    -fx-background-color: white; /* Background color */
    -fx-border-radius: 5px; /* Border radius */

    -fx-alignment: center; /* Center the content */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 ); /* Add drop shadow */
}

/* Customize the content inside each item */
.quiz-item .quiz-content {
    -fx-font-size: 14px; /* Font size */
    -fx-text-fill: Black; /* Text color */
}
/* Customize spacing between columns */
.content {
    -fx-text-fill: Black; /* Text color */
}